<div class="row-fluid">
      <form class="form-signin">
          <div class="alert" style="display:none">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" id="login-username" class="input-block-level" placeholder="Email address">
        <input type="password" id="login-password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="login-submit">Sign in</button>
      </form>
</div>
<div class="row-fluid">
      <form class="form-signup">
          <div class="alert" style="display:none">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
        <h2 class="form-signup-heading">Please sign up</h2>
        <input type="text" id="signup-username" class="input-block-level" placeholder="Email address">
        <input type="password" id="signup-password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign up</button>
      </form>
</div>