<ul class="nav nav-list">
  <li class="nav-header">Sidebar</li>
  <li class="active"><a href="#">Issues</a></li>
  {{#each items}}
    <li><a href="/issue/{{id}}">{{title}}</a></li>
  {{/each}}
</ul>
